@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");
@import url("https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css");

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./src/assets/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  min-height: 100vh;
  
}

button {margin: 0px}

.botonera {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.center {
  text-align: center;
}

.Option{
  color: black;
}

h1 {
  font-weight: 400;
  color: whitesmoke;
}

.semi {
  font-weight: 400;
  color: whitesmoke;
  text-align: center;
}

label {
  font-weight: 400;
  color: black;
}

.div-cotizador {
  margin: auto;
  max-width: 1000px;
  background-color: white;
  /* margin-left: 5%;
    margin-right: 5%; */
  padding: 20px;
  border-color: whitesmoke;
  box-shadow: 26px 28px 15px -8px rgba(0, 0, 0, 0.15);
  border-radius: 0.7rem;
}

select,
input {
  min-width: 50% !important;
  width: 70% !important;
}

.separador {
  margin-top: 20px;
}

.importe {
  color: blueviolet;
  font-size: x-large;
  font-weight: 700;
}

.ocultar {
  display: none;
}

button:hover {
  color: whitesmoke !important;
  background-color: blueviolet !important;
}

button:active {
  background-color: black !important;
}


.historial-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.historial-item {
  display: contents;
  align-items: center;
  justify-content: center;
  text-align: center
}

.historial-header {
  
  padding: 5px;
}
