.historial-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.historial-item {
  display: contents;
  align-items: center;
  justify-content: center;
  text-align: center
}

.historial-header {
  background-color: #ccc;
  padding: 5px;
}
